extends layout

block content
  .container
    .container-fluid
      .row
        h2
          | #{title}

      .row
        a.btn.btn-success(href="brewday/new" role="button") New Brewday
      .row
        p
      .row
        .col-md-12
          table.table.table-hover
            thead
              tr
                th
                  | Name
                th
                  | Date
                th
                  | Total time
            tbody
              each brewday in brewdays
                tr
                  td
                    a(href="brewday/view/#{brewday.name}")= brewday.name
                  td
                    = brewday.date
                  td
                    = moment(brewday.endTime).diff(brewday.startTime, 'hours')
                    | hrs
                  td
                    a(href="brewday/view/#{brewday.name}") view
                    |  | 
                    a(href="brewday/edit/#{brewday.name}") edit
                    |  |
                    a(href="brewday/delete/#{brewday.name}") delete
